<button 
    {{#if (or (eq block true) (hasValue class))}} 
        class="{{{class}}} {{#if (eq block true)}}btn-block{{/if}}" 
    {{/if}}
    {{#if (eq submit true)}}type="submit"{{/if}}
    {{#each custom}} 
       {{name}}="{{{value}}}" 
    {{/each}} >
        {{{value}}}
</button>